<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
    <meta name="google-signin-client_id" content="183216533923-ijnos91eh3bk6dgd7o6dic7gbt1ufjdv.apps.googleusercontent.com">
	<title>Make Cents - Graphs</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../public/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/graphs-style.css">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    <script type="text/javascript" src="../js/login.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
</head>
<body>
    <div class="container">
      	<div class="header clearfix">
        	<nav>
          		<ul class="nav nav-pills pull-right">
            	<li role="presentation"><a href="/">Home</a></li>
            	<li role="presentation"><a href="/users/login">Login</a></li>
            	<li role="presentation"><a href="/users/register">Register</a></li>
            	<li role="presentation"><a href="/users/logout">Logout</a></li>
          		</ul>
        	</nav>
        	<h3 class="text-muted">Make-Cents Login Page</h3>
      	</div>

      	<div class="jumbotron">
        	<p><a class="btn btn-lg btn-success" href="#" role="button">
          		Compete with your Friends and Make money while being super Thrifty!
        	</a></p>
      	</div>

	    	<div class="text-center col-md-12" id="barWell">
	    	</div>
	        
	    	<div class = "col-md-12" id="buffer">
	    	<br>
	    	</div>
	        
	    	<div class="text-center col-md-12" id="pieWell">
	    	</div> 

	 	<br>
		<br>
		
	 	<footer class="footer">
			<p> &copy; 2017 Make-Cents Inc. </p>
	 	</footer>
	</div>
</body>
<script>
    var chart = AmCharts.makeChart( "pieWell", {
      "type": "pie",
      "theme": "light",
      "dataProvider": [ {
        "country": "Lithuania",
        "value": 260
      }, {
        "country": "Ireland",
        "value": 201
      }, {
        "country": "Germany",
        "value": 65
      }, {
        "country": "Australia",
        "value": 39
      }, {
        "country": "UK",
        "value": 19
      }, {
        "country": "Latvia",
        "value": 10
      } ],
      "valueField": "value",
      "titleField": "country",
      "outlineAlpha": 0.4,
      "depth3D": 15,
      "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
      "angle": 30,
      "export": {
        "enabled": true
      }
    });

    var chart2 = AmCharts.makeChart("barWell", {
        "theme": "light",
        "type": "serial",
        "startDuration": 2,
        "dataProvider": [{
        "country": "USA",
        "visits": 4025,
        "color": "#FF0F00"
        }, {
        "country": "China",
        "visits": 1882,
        "color": "#FF6600"
        }, {
        "country": "Japan",
        "visits": 1809,
        "color": "#FF9E01"
        }, {
        "country": "Germany",
        "visits": 1322,
        "color": "#FCD202"
        }, {
        "country": "UK",
        "visits": 1122,
        "color": "#F8FF01"
        }, {
        "country": "France",
        "visits": 1114,
        "color": "#B0DE09"
        }, {
        "country": "India",
        "visits": 984,
        "color": "#04D215"
        }, {
        "country": "Spain",
        "visits": 711,
        "color": "#0D8ECF"
        }, {
        "country": "Netherlands",
        "visits": 665,
        "color": "#0D52D1"
        }, {
        "country": "Russia",
        "visits": 580,
        "color": "#2A0CD0"
        }, {
        "country": "South Korea",
        "visits": 443,
        "color": "#8A0CCF"
        }, {
        "country": "Canada",
        "visits": 441,
        "color": "#CD0D74"
        }, {
        "country": "Brazil",
        "visits": 395,
        "color": "#754DEB"
        }, {
        "country": "Italy",
        "visits": 386,
        "color": "#DDDDDD"
        }, {
        "country": "Australia",
        "visits": 384,
        "color": "#999999"
        }, {
        "country": "Taiwan",
        "visits": 338,
        "color": "#333333"
        }, {
        "country": "Poland",
        "visits": 328,
        "color": "#000000"
        }],
        "valueAxes": [{
        "position": "left",
        "title": "Visitors"
        }],
        "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "visits"
        }],
        "depth3D": 20,
        "angle": 30,
        "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
        },
        "categoryField": "country",
        "categoryAxis": {
        "gridPosition": "start",
        "labelRotation": 90
        },
        "export": {
        "enabled": true
    }
    });

</script>
</html>