
<div class="container">

      <div class="text-center col-md-12" id="barWell">
      </div>
      
      <div class = "col-md-12" id="buffer">
      <br>
      </div>
      
      <div class="text-center col-md-12" id="pieWell">
      </div> 

</div> 
      
