<h2 class="page-header"> Questionnaire </h2>

{{#if errors}} 
    {{#each errors}} 
        <div class="alert alert-danger"> {{msg}} </div> 
    {{/each}} 
{{/if}} 

<form method="POST" action="/users/register">
    <div class="form-group">
        <label> What is your monthly budget? </label>
        <input type="text" class="form-control"
        placeholder="monthly-budge" name="name">
    </div>
    <div class="form-group">
        <label> How much would you like to spend on gas weekly? </label>
        <input type="text" class="form-control"
        placeholder="Username" name="username">
    </div>
    <div class="form-group">
        <label> How much do would you like to spend on leisure weekly </label>
        <input type="email" class="form-control"
        placeholder="Email" name="email">
    </div>
    <div class="form-group">
        <label> How much would you like to spend on groceries weekly?</label>
        <input type="groceries" class="form-control"
        placeholder="Groceries" name="password">
    </div>
	<div class="form-group">
    	<label>Would you like to join a group?</label>
  	<select class="form-control">	
  		<option>Join Group</option>
  		<option>Create Group</option>
  		<option>Personal Account</option>
	</select>

    <button type="submit" class="btn btn-primary"> submit </button>
</form>
